.Message {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.messageAvatar {
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
}

.messageWrapper {
  display: flex;
  align-items: baseline;
}

.messageAuthor {
  color: rgb(156, 50, 156);
  margin-right: 5px;
}

.messageData {
  color: gray;
  font-size: 12px;
}

.messageEdited {
  margin-left: 5px;
  color: gray;
  font-size: 11px;
}
